.foo-bot {
	background: rgb(33, 30, 65);
}

.foo-bot h6 {
	color: rgb(216, 216, 216);
	font-size: 15px;
	padding-top: 10%;
}

.tag-row {
	display: flex;
	flex-direction: row;
}

.footer-bottom-text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 5%;
	color: #afafaf;
	padding: 10px;
}

.footer-bottom-text span {
	margin-top: 5%;
}

.line {
	border-right: 1px solid rgb(255, 255, 255);
	height: 30px;
	width: 9px;
	margin-left: 5%;
}

.number {
	margin-left: 5%;
}
.footer_logo {
 width:100px;
 height: 100px;
 margin-top: 45px;
}
.socials {
margin-top:70px;
}
.circle{
border-radius: 50%;
margin: 0.15em;
font-size: 2em;
}
.fa-twitter{
background: #4099FF;
color: #FFFFFF;
padding: 0.05em 0.07em;
}
.fa-facebook{
background: #3B5998;
color: #FFFFFF;
padding: 0.05em 0.3em;
}